<p id="notice"><%= notice %></p>

<% @bios.each do |bio| %>
    <%= form_tag controller: :bios, action: :update do %>
        <div class="field">
          <%= text_field_tag :paragraph, bio.paragraph, required: 'required' %>
        </div>
        <%= hidden_field_tag :group_member_id, @group_member.id %>
        <%= hidden_field_tag :bio_id, bio.id %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div class="actions">
          <%= submit_tag 'UPDATE' %>
        </div>
    <% end %>
    <div>
      <%= link_to 'delete', {controller: :bios, action: :delete, bio_id: bio.id, group_member_id: @group_member.id},
                  data: {confirm: "Are you sure?"},
                  method: :delete, class: 'btn btn-warning' %>
    </div>
<% end %>

<%= form_tag controller: :bios, action: :save do %>
    <div class="field">
      <%= text_field_tag :paragraph, nil, placeholder: 'write a paragraph of you bio', required: 'required' %>
    </div>
    <%= hidden_field_tag :group_member_id, @group_member.id %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="actions">
      <%= submit_tag 'SAVE' %>
    </div>
<% end %>
