<p id="notice"><%= notice %></p>

<p><%= link_to 'New Group Member', new_group_member_path %> <%= link_to 'New News', new_news_path %> <%= link_to 'New Image', new_image_path %></p>

<h1>Group Members</h1>

<table>
  <thead>
  <tr>
    <th>Group member id</th>
    <th>Photo</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Description</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Link</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @group_members.each do |group_member| %>
      <tr>
        <td><%= image_tag group_member.photo.url (:thumb)%></td>
        <td><%= group_member.first_name %></td>
        <td><%= group_member.last_name %></td>
        <td><%= group_member.description %></td>
        <td><%= group_member.phone %></td>
        <td><%= group_member.email %></td>
        <td>
          <% group_member.links.each do |link| %>
              <p><%= link.link_address %></p>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_group_member_path(group_member) %></td>
        <td><%= link_to 'Delete', group_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'Manage links', controller: :links, action: :show_links, group_member_id: group_member.id %></td>
      </tr>
  <% end %>
  </tbody>
</table>