<p id="notice"><%= notice %></p>

<h1>Group Members</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Description</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Link</th>
    </tr>
  </thead>

  <tbody>
    <% @group_members.each do |group_member| %>
      <tr>
        <td><%= group_member.first_name %></td>
        <td><%= group_member.last_name %></td>
        <td><%= group_member.description %></td>
        <td><%= group_member.phone %></td>
        <td><%= group_member.email %></td>
        <td><%= group_member.link %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
