<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= image_tag @group_member.photo.url (:medium)%>
</p>

<p>
  <strong>First name:</strong>
  <%= @group_member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @group_member.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group_member.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @group_member.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @group_member.email %>
</p>

<% unless @group_member.links.empty? %>
    <p>
      <strong>Link:</strong>
      <% @group_member.links.each do |link| %>
        <p><%= link.link_address %></p>
    <% end %>
    </p>
<% end %>

<% if admin_signed_in? %>
    <%= link_to 'Edit', edit_group_member_path(@group_member) %> |
    <%= link_to 'Back', admin_path %>
<% else %>
    <%= link_to 'Back', root_path %>
<% end %>

