<% default_date = 'nå' %>

<div class="container">
  <div class="row group-member-intro">
    <div class="col-md-6 group-member-name-wrapper">
      <h2>Hei, jeg heter</h2>
      <h2 class="group-member-name">
        <strong><%= @group_member.first_name %> <br>
          <%= @group_member.last_name %></strong>
      </h2>
      <h2><%= @group_member.field_of_study_in_westerdal&.name %></h2>
      <div class="media-reference">
        <% @group_member.links.each do |link| %>
            <% if link.link_address.include? 'github' %>
                <a class="btn btn-default btn-lg" href="<%= link.link_address %>">
                  <i class="fa fa-github"></i> Github
                </a>
            <% elsif link.link_address.include? 'linkedin' %>
                <a class="btn btn-primary btn-lg" href="<%= link.link_address %>">
                  <i class="fa fa-linkedin"></i> Linkedin
                </a>
            <% else %>
                <a href="<%= link.link_address %>">
                  <%= URI.parse(link.link_address).host %>
                </a>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-6 no-padding">
      <%= image_tag @group_member.photo.url, class: 'img-responsive' %>
    </div>
  </div>

  <div class="row group-member-teaser">
    <div class="col-xs-12 col-md-6 group-member-personal-text text-center">
      <% @group_member.personal_texts.each do |text| %>
          <h2><i class="fa fa-quote-left fa-1x"></i>
            <%= text.paragraph %> <i class="fa fa-quote-right fa-1x"></i>
          </h2>
      <% end %>
    </div>
    <div class="col-xs-12 col-md-6 group-member-skills">
      <h2><strong>Skills</strong></h2>
      <% @group_member.skills.each do |skill| %>
          <div class="col-xs-12 col-md-6">
            <p><i class="glyphicon glyphicon-ok"></i> <%= skill.name %></p>
          </div>
      <% end %>
    </div>

  </div>

  <div class="row group-member-description">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#description" aria-controls="description" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-star gi-2x"></i>
            Biografi</a></li>
        <li role="presentation">
          <a href="#experience" aria-controls="experience" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-pencil gi-2x"></i>
            Arbeidserfaring</a></li>
        <li role="presentation">
          <a href="#education" aria-controls="education" role="tab" data-toggle="tab"><i class="glyphicon glyphicon-education  gi-2x"></i>
            Utdanning</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content row no-margin">
        <div role="tabpanel" class="tab-pane active" id="description">
          <% @group_member.bios.order(:id).each do |bio| %>
              <div class="col-xs-12">
                <p><%= bio.paragraph %></p>
              </div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="experience">
          <% @group_member.work_experiences.each do |experience| %>
              <div class="col-xs-12 col-md-6">
                <strong><%= experience.start.strftime('%d.%m.%Y') %>
                  - <%= experience.end.nil? ? default_date : experience.end.strftime('%d.%m.%Y') %>
                  | <%= experience.company %> </strong>
                <p><%= experience.position %> <%= experience.optional_info %></p>

              </div>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="education">
          <% @group_member.educations.each do |education| %>
              <div class="col-xs-12 col-md-6">
                <strong><%= education.start.strftime('%d.%m.%Y') %> <%= education.end.nil? ? default_date : education.end.strftime('%d.%m.%Y') %>
                  | <%= education.institution_name %> </strong>
                <p><%= education.field_of_study %></p>
              </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>


<h3>Other user's data</h3>

<p>
  <strong>Phone:</strong>
<p><%= @group_member.phone %></p>
</p>
<p>
  <strong>Email:</strong>
<p><%= @group_member.email %></p>
</p>

<% if admin_signed_in? %>
    <%= link_to 'Edit', edit_group_member_path(@group_member) %> |
    <%= link_to 'Back', admin_path %>
<% else %>
    <%= link_to 'Back', root_path %>
<% end %>



