<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @group_member.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @group_member.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @group_member.description %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @group_member.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @group_member.email %>
</p>

<p>
  <strong>Link:</strong>
  <%= @group_member.link %>
</p>

<%= link_to 'Edit', edit_group_member_path(@group_member) %> |
<%= link_to 'Back', group_members_path %>
