<% default_date = 'nå' %>

<div class="container">
  <div class="row group-member-intro">
    <div class="col-md-6 group-member-name-wrapper">
      <h2>Hei, jeg heter</h2>
      <h2 class="group-member-name">
        <strong><%= @group_member.first_name %> <br>
          <%= @group_member.last_name %></strong>
      </h2>
      <h2><%= @group_member.field_of_study_in_westerdal&.name %></h2>
      <div class="media-reference">

        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </div>
    <div class="col-md-6 no-padding">
      <!-- TODO: ALEX ADD img-responsive class here plz -->
      <%= image_tag @group_member.photo.url %>
    </div>
  </div>

  <div class="row group-member-description margin-top">
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#description" aria-controls="description" role="tab" data-toggle="tab">Biografi</a></li>
        <li role="presentation">
          <a href="#experience" aria-controls="experience" role="tab" data-toggle="tab">Arbeidserfaring</a></li>
        <li role="presentation">
          <a href="#education" aria-controls="education" role="tab" data-toggle="tab">Utdanning</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="description">
          <% @group_member.bios.order(:id).each do |bio| %>
              <p><%= bio.paragraph %></p>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="experience">
          <% @group_member.work_experiences.each do |experience| %>
              <p><%= experience.start.strftime('%d.%m.%Y') %> <%= experience.end.nil? ? default_date : experience.end.strftime('%d.%m.%Y') %> <%= experience.company %> <%= experience.position %> <%= experience.optional_info %></p>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane" id="education">
          <% @group_member.educations.each do |education| %>
              <p><%= education.start.strftime('%d.%m.%Y') %> <%= education.end.nil? ? default_date : education.end.strftime('%d.%m.%Y') %> <%= education.institution_name %> <%= education.field_of_study %></p>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>


<h3>Other user's data</h3>

<p>
  <strong>Link:</strong>
  <% @group_member.links.each do |link| %>
    <p><%= link.link_address %></p>
<% end %>
</p>


<p>
  <strong>Phone:</strong>
<p><%= @group_member.phone %></p>
</p>
<p>
  <strong>Email:</strong>
<p><%= @group_member.email %></p>
</p>
<p>
  <strong>Skills:</strong>
  <% @group_member.skills.each do |skill| %>
    <p><%= skill.name %></p>
<% end %>
</p>
<p>
  <strong>Personal text:</strong>
  <% @group_member.personal_texts.each do |text| %>
    <p><%= text.paragraph %></p>
<% end %>
</p>

<% if admin_signed_in? %>
    <%= link_to 'Edit', edit_group_member_path(@group_member) %> |
    <%= link_to 'Back', admin_path %>
<% else %>
    <%= link_to 'Back', root_path %>
<% end %>



