
<div class="container">
  <div class="row group-member-intro">
    <div class="col-md-6 group-member-name-wrapper">
      <h2>Hei, jeg heter</h2>
      <h2 class="group-member-name">
        <strong><%= @group_member.first_name%> <br>
        <%= @group_member.last_name %></strong>
      </h2>
      <h2>Programmering</h2>
      <div class="media-reference">
        <i class="fa fa-github"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </div>
    <div class="col-md-6 no-padding">
      <%= image_tag @group_member.photo.url (:medium)%>
    </div>
  </div>

  <div class="row group-member-description">
    <div>
      <!-- TODO: Fix so all tabs works. -->
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="myTabs" role="tablist">
        <li role="presentation" class="active"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Biografi</a></li>
        <li role="presentation"><a href="#experience" aria-controls="experience" role="tab" data-toggle="tab">Arbeidserfaring</a></li>
        <li role="presentation"><a href="#education" aria-controls="education" role="tab" data-toggle="tab">Utdanning</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="descritpion"><%= @group_member.description %></div>
        <div role="tabpanel" class="tab-pane" id="experience">Profile</div>
        <div role="tabpanel" class="tab-pane" id="education">Messages</div>
      </div>

    </div>
  </div>

</div>



<% unless @group_member.links.empty? %>
    <p>
      <strong>Link:</strong>
      <% @group_member.links.each do |link| %>
        <p><%= link.link_address %></p>
    <% end %>
    </p>
<% end %>

<% if admin_signed_in? %>
    <%= link_to 'Edit', edit_group_member_path(@group_member) %> |
    <%= link_to 'Back', admin_path %>
<% else %>
    <%= link_to 'Back', root_path %>
<% end %>