<div class="container">
  <%= form_for @contact, :url => contacts_path, :html => {:class => 'formtastic'} do |f| %>
      <h2><%= t('.contact_us') %></h2>
      <form class="form-horizontal" role="form" method="post">
        <% if ContactUs.require_name %>

            <div class="form-group" id="contact_us_contact_name_input">
              <div class="col-sm-2">
                <%= f.label :name, (t('.name') + content_tag(:abbr, '*', :class => 'control-label')).html_safe %>
              </div>
            </div>
            <div class="col-sm-10">
              <%= f.text_field :name, :class => 'form-control', :name => 'name', :placeholder => 'First & Last Name' %>
              <% if f.object.errors[:name].present? %>
                  <p class='inline-error'><%= f.object.errors[:name].join(' and ') %></p>
              <% end %>

            </div>
        <% end %>


        <div class="form-group" id='contact_us_contact_email_input'>
          <div class="col-sm-2 control-label">
            <%= f.label :email, (t('.email') + content_tag(:abbr, '*', :class => 'control-label')).html_safe %>
          </div>
          <div class="col-sm-10">
            <%= f.text_field :email, :class => 'form-control', :placeholder => 'example@domain.com' %>
            <% if f.object.errors[:email].present? %>
                <p class='inline-error'><%= f.object.errors[:email].join(' and ') %></p>
            <% end %>

          </div>
        </div>
        <% if ContactUs.require_subject %>
            <div class="form-group" id='contact_us_contact_subject_input'>
              <div for="message" class="col-sm-2 control-label">
                <%= f.label :subject, (t('.subject') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
              </div>
              <div class="col-sm-10">
                <%= f.text_field :subject, :class => 'form-control', :placeholder =>'subject' %>
                <% if f.object.errors[:subject].present? %>
                    <p class='inline-error'><%= f.object.errors[:subject].join(' and ') %></p>
                <% end %>

              </div>
            </div>
        <% end %>

        <div class="form-group" id='contact_us_contact_message_input'>
          <div for="message" class="col-sm-2 control-label">
            <%= f.label :message, (t('.message') + content_tag(:abbr, '*', :class => 'required')).html_safe %>
          </div>
          <div class="col-sm-10">
            <%= f.text_area :message, :rows=>'4', :class=>'col-sm-12', :placeholder =>'message'%>
            <% if f.object.errors[:message].present? %>
                <p class='inline-error'><%= f.object.errors[:message].join(' and ') %></p>
            <% end %>

          </div>
        </div>
        <div class="form-group commit">
          <div class="col-sm-10 col-sm-offset-2">
            <%= f.submit :submit, :class => 'submit create btn btn-primary', :title => t('.submit'), :value => t('.submit') %>
          </div>
        </div>
  <% end %>

  </form>
</div>




<!--<div class="container contact-container">-->
<!--<h2 class="text-center">KONTAKT OSS :)</h2>-->
<!--<form class="form-horizontal" role="form" > &lt;!&ndash;method="post"&ndash;&gt;-->
<!--<div class="form-group">-->
<!--<label for="name" class="col-sm-2 control-label">Navn</label>-->
<!--<div class="col-sm-10">-->
<!--<input type="text" class="form-control" id="name" name="name" placeholder="First & Last Name" value="">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="email" class="col-sm-2 control-label">E-post</label>-->
<!--<div class="col-sm-10">-->
<!--<input type="email" class="form-control" id="email" name="email" placeholder="example@domain.com" value="">-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<label for="message" class="col-sm-2 control-label">Melding</label>-->
<!--<div class="col-sm-10">-->
<!--<textarea class="form-control" rows="4" name="message"></textarea>-->
<!--</div>-->
<!--</div>-->
<!--<div class="form-group">-->
<!--<div class="col-sm-10 col-sm-offset-2">-->
<!--<input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">-->
<!--</div>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->