<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>News text:</strong>
  <%= @news.news_text %>
</p>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_news_path(@news) %> |
  <%= link_to 'Back', admin_news_path %>
<% else %>
    <%= link_to 'Back', root_path %>
<% end %>