<p id="notice"><%= notice %></p>

<%= image_tag @news.photo.url %>

<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>News text:</strong>
  <% @news.news_paragraphs.order(:id).each do |paragraph| %>
    <p><%= paragraph.paragraph %></p>
<% end %>
</p>

<p>
  <strong>Publisert: </strong>
  <%= @news.created_at.strftime('%d.%m.%Y') %>
</p>

<% if @news.created_at != @news.updated_at %>
    <p>
      <strong>Oppdatert: </strong>
      <%= @news.updated_at.strftime('%d.%m.%Y') %>
    </p>
<% end %>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_news_path(@news) %> |
  <%= link_to 'Back', admin_news_path %>
<% else %>
    <%= link_to 'Back', root_path %>
<% end %>