<div class="row home-header" xmlns="http://www.w3.org/1999/html">
  <div class="inner text-center">
    <h2>VI ER KLARE FOR <br> HOVEDPROSJEKT 2017</h2>
    <%= link_to 'KONTAKT OSS', contact_path, type: 'button', class: 'btn btn-primary' %>
    <div class="fa fa-angle-down text-center"></div>
  </div>
</div>

<div class="row home-predescription">
  <div class="container">
    <div class="col-xs-12 col-md-3">
      <h4><strong>SKOLE</strong></h4>
      <p>Westerdals ACT</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <h4><strong>GRUPPEMEDLEMMER</strong></h4>
      <p>6</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <h4><strong>KARAKTER MÅL</strong></h4>
      <p>A</p>
    </div>
    <div class="col-xs-12 col-md-3">
      <h4><strong>KONTAKT OSS</strong></h4>
      <p>kontakt@hovedprosjekt.team</p>
    </div>
  </div>
</div>

<div class="row home-our-team">
  <div class="container">

    <h2><%= News.last.title %> / <small>siste nytt</small></h2>
    <div class="wrapper">
      <div class="col-md-4 no-padding">
        <%= link_to image_tag(News.last.photo.url, class: 'img-responsive'), url_for(News.last) %>
      </div>
      <div class="col-md-8">
        <%= News.last.news_paragraphs.first&.paragraph %>
        <%= link_to '<les mer>', News.last %>
        <br/>
        <br/>
        <%= link_to 'Bli kjent med gruppemedlemmene!', group_members_url, type: 'button', class: 'btn btn-success' %>
      </div>
    </div>

  </div>
</div>
<div class="row home-quote">
  <div class="container">
    <div class="inner text-center">
      <h2><i class="fa fa-quote-left fa-1x"></i> if a picture is worth 1000 words,<br> a prototype is worth 1000 meetings <i class="fa fa-quote-right fa-1x"></i></h2>
      <h3>- Tom & David Kelly -</h3>
    </div>
  </div>

</div>
