<p id="notice"><%= notice %></p>

<td><%= image_tag @image.photo.url %></td>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
